%% -*- erlang -*-

[
 {xcal,[
	{location, {59.32684,18.38975}},
	{timezone, +2.0}
       ]},
 %% declare xbus items
 {xbus,
  [{topics,[
	    {<<"xcal.sunrise">>, [{retain,0},{unit,"boolean"}]},
	    {<<"xcal.sunset">>,  [{retain,0},{unit,"boolean"}]},
	    {<<"xcal.noon">>,    [{retain,0},{unit,"boolean"}]},
	    {<<"xcal.hour">>,    [{retain,0},{unit,"boolean"}]},
	    {<<"xcal.minute">>,  [{retain,0},{unit,"boolean"}]}
	   ]}]},
 
 %% add cron that adds sunset/sunrise 
 {erlcron,
  [{crontab,
    [
     {{daily, {0,0,0}}, {xcal, add_sunset_sunrise, []}},
     {{daily, {12,0,0}}, {xbus, pub, ["xcal.noon", true]}},
     {{daily, {every,{1,h},{between,{7,0,0},{19,0,0}}}}, 
      {xbus, pub, ["xcal.hour", true]}},
     {{daily, {every,{1,m}}},
      {xbus, pub, ["xcal.minute", true]}}
    ]
   }]}

].
